<!DOCTYPE html>
<html>
	
<head>
	<title>Star Wars</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>
<body>
	<div>
		<h1>Star Wars</h1>
		<h3>Search for your favourite character</h3>
	</div>
	<div>
		<form method="POST" class="form-wrapper">
			<input type="text" name="name" id="search" placeholder="Search for..." required>
			<input type="submit" value="go" id="submit">
		</form>
	</div>
	<div>
		<h4>-- Results --</h4><br/>
		{% if data %}
			{% for obj in data %}
				<h5>--{{obj + 1}}--</h5>
				<table>											
					<tr>
						<th><h4>Full Name</h4></th>
						<td><h4>{{ data[obj].full_name }}</h4></td>
					</tr>
					<tr>
						<th><h4>Gender</h4></th>
						<td><h4>{{ data[obj].gender }}</h4></td>
					</tr>
					<tr>
						<th><h4>Species</h4></th>
						<td><h4>{{ data[obj].species }}</h4></td>
					</tr>
					<tr>
						<th><h4>Lifespan</h4></th>
						<td><h4>{{ data[obj].lifespan }}</h4></td>
					</tr>
					<tr>
						<th><h4>Homeplanet</h4></th>
						<td><h4>{{ data[obj].home_planet }}</h4></td>
					</tr>
					<tr>
						<th rowspan={{ data[obj].movies_list|length+1 }}><h4>Movies List</h4></th>
							{% for movie in data[obj].movies_list %}
								<tr><td><h4>{{movie}}</h4></td></tr>
							{% endfor %}
					</tr>
				</table>
			{% endfor %}
			<h4>-- End of Results --</h4><br/>
		{% endif %}
	</div>
</body>
</html>
